.Intro {
  max-width: 80em;
  margin: 5em auto 3em auto;
  display: flex;

  .IntroTitle {
    font-size: 3em;
  }

  .Text {
    font-size: 1.25em;
    margin-left: 3em;
    margin-right: 3em;
  }

  .Image {
    width: 40%;
    flex-shrink: 0;

    .ImageContent {
      border-radius: 0.5em;
    }
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
