nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: 80em;
  margin: 0 auto;
  background-color: #333;
  color: #eee;
  padding: .25em 1em;
  display: flex;
  justify-content: space-between;

  .CurrencyStats {
    display: flex;

    .CurrencyStats-single {
      padding-left: 1em;
    }
  }

  .PathLink {
    &:hover {
      color: #aaa;
    }
  }
}