.Nav {
  .CurrencyStats {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    height: 2em;
    background-color: $colorBg;
    padding: 0.25em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $optionBorderColor;
    z-index: 21;
    @include shadow();

    .CurrencyStatSingle {
      &:nth-child(n + 2) {
        padding-left: 1em;
      }

      .CurrencyStats-name {
        padding-right: 0.5em;
      }

      .CurrencyStats-value {
        color: $navCostNegativeColor;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.5em 0 0;
        font-weight: 700;
        transition: 0.3s;
      }

      &.CurrencyStatPositive {
        .CurrencyStats-value {
          color: $navCostPositiveColor;
        }
      }
    }
  }

  .Menu {
    position: relative;
    z-index: 21;

    .burger {
      position: fixed;
      z-index: 1;
      top: 2em;
      right: 2em;
      width: 2em;
      height: 2em;
      cursor: pointer;

      div {
        position: absolute;
        right: 0;
        left: 0;
        width: 80%;
        height: 4px;
        margin: -2px auto 0 auto;
        background-color: #333;
        border-radius: 2px;
        transition: 0.2s;

        &:nth-child(1) {
          top: 25%;
        }
        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(3) {
          top: 75%;
        }
      }

      &:hover {
        div {
          background-color: #777;
          &:nth-child(1) {
            top: 30%;
          }
          &:nth-child(3) {
            top: 70%;
          }
        }
      }
    }

    .MenuWrap {
      position: fixed;
      top: 0;
      right: -25em;
      bottom: 0;
      width: 25em;
      background-color: #fffc;
      border-left: 1px solid #999;
      padding: 4em 1.5em 3em 1.5em;
      transition: 0.3s;
      overflow: auto;
      backdrop-filter: blur(5px);
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .MenuHeading {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        padding-left: 0.2em;
        text-align: center;
        border-bottom: 1px solid #333;
        margin: 2em 0 1em 0;
      }

      .SelectedOptions {
        border-collapse: collapse;
        width: 100%;
        font-size: 0.75em;

        tr {
          &:first-child td {
            border-top: none;
          }
          &:last-child td {
            border-bottom: none;
          }
        }

        td {
          border: 1px solid #999;
          padding: 0.25em 0.5em;

          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }

        .list-option-cost {
          display: flex;

          .list-option-cost-name {
            padding-right: 0.5em;
          }

          .list-option-cost-value {
            font-weight: 700;
            color: $navCostNegativeColor;
          }

          &.costPositive {
            .list-option-cost-value {
              color: $navCostPositiveColor;
            }
          }
        }
      }
    }

    &.MenuOpened {
      .burger {
        div {
          top: 50%;
          transform: rotate(-45deg);

          &:nth-child(1) {
            transform: rotate(45deg);
          }
        }

        &:hover {
          div {
            top: 50%;
            transform: rotate(-45deg);

            &:nth-child(1) {
              transform: rotate(45deg);
            }
          }
        }
      }

      .MenuWrap {
        right: 0;
      }
    }
  }
}

.Breadcrumbs {
  margin-top: 2em;
  padding: 0.5em;

  span {
    font-size: 0.75em;

    &.PathLink {
      font-weight: 700;
      transition: 0.3s;

      &:hover {
        color: #777;
      }
    }
  }
}
