.OptionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 120em;
  margin: 3em auto 3em auto;
  padding: 0 3em;

  .Option {
    position: relative;
    width: 25em;
    max-width: 100%;
    padding: 1.5em 0.5em;
    color: $optionTextColor;

    .OptionWrap {
      position: relative;
      overflow: hidden;
      height: 100%;

      .OptionContent {
        overflow: hidden;
      }

      .Name {
        color: $optionTitleColor;
      }

      > .Select {
        &.SelectDisabled {
          font-weight: 700;
          color: $disabledWarningColor;
        }
      }

      .OptionLinks {
        text-align: right;
        margin: 0.5em 1em;

        .PathLink {
          display: inline-block;
          font-size: 0.75em;
          padding: 0.5em 1em;
          transition: 0.3s;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          font-weight: 700;
          line-height: 1;
          border: 1px solid #999;
          @include shadow();
          background-color: #eee;
          color: #555;

          &:hover {
            background-color: #555;
            color: #eee;
          }
        }
      }
    }

    &.OptionType-story {
      width: 100%;
      margin-top: 3em;

      .Text {
        font-size: 1.25em;
      }
    }

    &.OptionControl-select {
      .SelectableSuboption {
        display: none;
      }
    }

    // increase space at the top of the option to make space for the controls
    &.OptionControl-checkbox,
    &.OptionControl-spinbox,
    &.OptionControl-addChild,
    &.OptionControl-select {
      .OptionHead {
        .OptionStats {
          min-height: 1em;
        }
      }
    }
  }
}

.Option.OptionType-option,
.Option.OptionType-group {
  > .OptionWrap {
    background-color: $optionBgColor;
    border: 1px solid $optionBorderColor;
    @include shadow();
    transition: 0.3s;

    .OptionBox {
      position: relative;
      z-index: 1;

      > .OptionHead {
        position: relative;
      }
    }
  }

  > .OptionControls {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }
}

// disabled options
.Option.OptionDisabled {
  .OptionWrap {
    border-color: $optionDeselectedBorderColor;
  }

  .OptionDisabledInfo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background-color: $colorDisabledOverlay;
    padding: 1em;
    color: $disabledWarningColor;
    z-index: 1;

    .OptionDisabledImage {
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      filter: grayscale(1) blur(6px);

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff9;
      }
    }

    .OptionDisabledNameContainer {
      position: relative;
      width: 100%;
      text-align: center;
      line-height: 1.2;

      .OptionDisabledName {
        font-family: "EB Garamond", serif;
        font-size: 2em;
        color: #0009;
      }

      .OptionDisabledMessage {
        position: relative;
        font-size: 0.75em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        padding-left: 0.5em;
      }
    }

    .OptionDisabledReason {
      font-weight: 700;
      font-size: 0.825em;

      p {
        margin-top: 0.25em;
        margin-bottom: 0;
      }
    }
  }
}

// options width images
.Option.OptionHasImage {
  > .OptionWrap {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .Image {
      margin-bottom: -6em;

      .ImageContent {
        box-sizing: content-box;
        height: 6em;
        padding-bottom: 100%;
      }
    }

    > .OptionContent {
      position: relative;
      display: flex;
      flex-direction: column;

      .OptionBox {
        border-top: 1px solid $optionBorderColor;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 6em;
          max-height: 100%;
          z-index: -1;
          transition: 0.3s;
          box-shadow: 0 -9em 4em -4em $optionBgColor inset;
        }
      }
    }
  }
}

// selectable options
.Option.OptionControl-checkbox,
.Option.OptionControl-spinbox,
.Option.OptionControl-select {
  .OptionWrap {
    background-color: $optionDeselectedBgColor;
    border-color: $optionDeselectedBorderColor;
    transition: 0.3s;

    > .OptionContent {
      transition: 0.3s;

      > .Image {
        overflow: hidden;

        .ImageContent {
          filter: grayscale(1) blur(3px);
          opacity: 0.75;
          transition: filter 0.3s, opacity 0.3s;
        }
      }

      .OptionBox:before {
        box-shadow: 0 -9em 4em -4em $optionDeselectedBgColor inset;
      }
    }

    &:hover {
      > .OptionContent {
        > .Image {
          .ImageContent {
            filter: grayscale(1) blur(1px);
          }
        }
      }
    }
  }

  &.OptionSelected {
    .OptionWrap {
      background-color: $optionBgColor;
      border-color: $optionBorderColor;
      opacity: 1;

      > .OptionContent {
        > .Image {
          .ImageContent {
            opacity: 1;
            filter: grayscale(0);
          }
        }

        .OptionBox:before {
          box-shadow: 0 -9em 4em -4em $optionBgColor inset;
        }
      }
    }
  }
}

// clickable options
.Option.OptionControl-checkbox,
.Option.OptionControl-spinbox {
  &:not(.OptionDisabled) {
    .OptionWrap {
      cursor: pointer;

      &:hover .OptionContent {
        opacity: 0.9;
      }
    }
  }
}

// select info
.Select {
  margin-bottom: 1em;

  .Name {
    font-weight: 700;
  }
}
