.OptionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 120em;
  margin: 3em auto 3em auto;
  padding: 0 3em;

  .Option {
    position: relative;
    width: 25em;
    max-width: 100%;
    padding: 1.5em 0.5em;

    .OptionWrap {
      position: relative;
      overflow: hidden;
      border-radius: 0.5em;
      height: 100%;

      > .OptionHead .Image {
        box-shadow: $shadowOffset $shadowOffset $shadowSpread 0 #0003;
      }

      > .Name {
        margin-top: 0.5em;
        text-align: center;
        color: #555;
      }

      > .Select {
        margin-top: 1em;
      }

      .OptionLinks {
        text-align: right;
        margin: 0.5em 1em;

        .PathLink {
          display: inline-block;
          border-radius: 0.5em;
          font-size: 0.75em;
          padding: 0.5em 1em;
          transition: 0.3s;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          font-weight: 700;
          line-height: 1;
          border: 1px solid #999;
          @include shadow();
          background-color: #eee;

          &:hover {
            background-color: #555;
            color: #eee;
          }
        }
      }
    }

    &.OptionType-story {
      width: 100%;

      .Text {
        font-size: 1.25em;
      }
    }

    &.OptionControl-select {
      .SelectableSuboption {
        display: none;
      }
    }
  }
}

.Option.OptionType-option,
.Option.OptionType-group {
  > .OptionWrap {
    background-color: #fff;
    border: 1px solid #999;
    @include shadow();
  }

  > .OptionControls {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}

// selectable options
.Option.OptionControl-checkbox,
.Option.OptionControl-spinbox,
.Option.OptionControl-select {
  .OptionWrap {
    background-color: #eee;
    opacity: 0.75;
    transition: 0.3s;

    > .OptionHead .Image {
      filter: grayscale(1);
      transition: 0.3s;
    }
  }

  &.OptionSelected {
    .OptionWrap {
      background-color: #fff;
      opacity: 1;

      > .OptionHead .Image {
        filter: grayscale(0);
      }
    }
  }
}

// clickable options
.Option.OptionControl-checkbox,
.Option.OptionControl-spinbox {
  &:not(.OptionDisabled) {
    .OptionWrap {
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }

    &.OptionSelected {
      .OptionWrap {
        &:hover {
          box-shadow: 0 0 0 2px #999;
        }
      }
    }
  }
}

// shadows on options
.OptionsContainer {
  .Option {
    .OptionWrap {
      .OptionDisabledInfo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        background-color: #fff5;
        padding: 1em;

        .OptionDisabledMessage {
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          font-family: "EB Garamond", serif;
        }
        .OptionDisabledReason {
          font-weight: 700;
        }
      }
    }
  }
}

// increase padding top of the option to make space for the controls
.OptionsContainer {
  .Option {
    &.OptionControl-checkbox,
    &.OptionControl-spinbox,
    &.OptionControl-addChild,
    &.OptionControl-select {
      .OptionHead {
        .OptionStats {
          min-height: 1em;
        }
      }
    }
  }
}
