.OptionsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 120em;
  margin: 3em auto;
  padding: 0 0.5em;

  .Option {
    width: 33.3333%;
    padding: 0.5em;

    .OptionWrap {
      padding: 0.5em;
      height: 100%;

      > .Name {
        font-weight: 700;
        text-align: center;
      }
    }

    &.OptionControl-checkbox {
      border: 1px solid #333;

      &:hover {
        background-color: #ddd;
      }
    }

    &.OptionType-story {
      width: 100%;
    }

    &.OptionControl-select {
      .SelectableSuboption {
        display: none;
      }
    }
  }
}

.OptionCost {
  display: flex;

  .OptionCost-single {
    display: flex;
    padding-right: 1em;

    .OptionCost-name {
      padding-right: 0.5em;
    }
  }
}
