.OptionControls {
  pointer-events: none;
}

.Checkbox,
.Spinbox,
.SelectControls,
.AddChild,
.Delete {
  position: relative;
  pointer-events: auto;
  z-index: 1;
  margin: 0 auto;
  border: 1px solid $controlsBorderColor;
  background-color: $controlsBgColor;
  @include shadow();
}

.Checkbox {
  width: 3em;
  height: 3em;
  cursor: pointer;
  transition: 0.3s;

  svg {
    transform: scale(0.5);
    opacity: 0;
    transition: 0.3s;

    path {
      stroke-dasharray: 110;
      stroke-dashoffset: 110;
      transition: 0.3s ease-in;
      stroke: $controlsText;
    }
  }

  &:hover {
    background-color: $controlsBgColorHovered;
  }

  &.CheckboxSelected {
    background-color: $controlsBgColorHovered;

    &:hover {
      background-color: $controlsBgColor;
    }
    svg {
      transform: scale(0.7);
      opacity: 1;

      path {
        stroke-dashoffset: 0;
      }
    }
  }
}

.Spinbox,
.SelectControls {
  button {
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    cursor: pointer;
    padding: 0 0.25em;

    path {
      stroke: $controlsText;
      fill: $controlsText;
      transition: 0.3s;
    }

    &:disabled {
      cursor: default;

      path {
        opacity: 0.25;
      }
    }

    &:hover {
      path {
        stroke: $controlsTextHovered;
        fill: $controlsTextHovered;
      }
    }
  }
}

.Spinbox {
  top: 0.5em;
  display: flex;
  align-items: center;
  width: 8em;
  height: 2em;
  padding: 0 0.25em;
  transition: 0.3s;

  input[type="number"] {
    text-align: center;
    font-size: 1.5em;
    margin: 0 0.5rem;
    height: 2rem;
    font-weight: 700;
    color: $controlsText;
    line-height: 1.2;
    flex-shrink: 3;
    flex-grow: 0;
    width: 3.5rem;

    &:hover,
    &:focus {
      background: none;
    }
  }
}

.SelectControls {
  top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  width: 6em;
  height: 2em;
  padding: 0 0.25em;
  transition: 0.3s;

  .SelectControlsCurrent {
    width: 100%;
    text-align: center;
    color: $controlsText;
    display: none;
  }
}

.AddChild {
  top: 0.5rem;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  color: $controlsText;
  font-weight: 700;

  &:hover {
    background-color: $controlsBgColorHovered;
  }
}

.Delete {
  width: 3em;
  height: 3em;
  cursor: pointer;
  transition: 0.3s;

  svg {
    transform: scale(0.6);

    path {
      transition: 0.3s;
    }
  }

  &:hover {
    background-color: #f55;

    path {
      stroke: $controlsBgColorHovered;
    }
  }
}
