.CurrencyStatSingle {
  display: flex;
}

.OptionStats {
  display: flex;
  justify-content: space-between;

  .OptionCost {
    display: flex;
    align-items: flex-start;
    margin: 0.1em;

    .OptionCostSingle {
      display: flex;
      align-items: center;
      background-color: #eee;
      color: #333;
      margin: 0.1em;

      .OptionCost-name {
        padding: 0.5em 0.5em;
        min-width: 2em;
      }

      .OptionCost-value {
        background-color: #333;
        color: #f77;
        min-width: 3em;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.5em;
        font-weight: 700;
        transition: 0.3s;
      }

      &.OptionCostPositive {
        .OptionCost-value {
          color: #4c2;
        }
      }
    }
  }

  .CurrencyStats {
    margin: 0.1em;
    margin-left: auto;

    .CurrencyStatSingle {
      height: 1.5em;
      display: flex;
      align-items: center;
      background-color: #fff;
      color: #333;
      border: 1px solid #999;
      margin: 0.1em;

      .CurrencyStats-name {
        padding: 0 0.5em;
      }

      .CurrencyStats-value {
        min-width: 2em;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.25em;
        font-weight: 700;
      }
    }
  }
}

.OptionHasImage {
  > .OptionWrap,
  > .SuboptionWrap {
    > .OptionContent,
    > .SuboptionContent {
      .OptionStats {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        align-items: flex-end;
      }
    }
  }
}

.OptionControl-checkbox,
.OptionControl-spinbox,
.OptionControl-addChild,
.OptionControl-select {
  .OptionStats {
    margin-top: 1em;
  }
  .OptionCost {
    .OptionCostSingle {
      .OptionCost-value {
        color: #eee;
      }
      &.OptionCostPositive {
        .OptionCost-value {
          color: #eee;
        }
      }
    }
  }
  &.OptionSelected {
    .OptionCost {
      .OptionCostSingle {
        .OptionCost-value {
          color: #f77;
        }
        &.OptionCostPositive {
          .OptionCost-value {
            color: #4c2;
          }
        }
      }
    }
  }
}
