.OptionType-story {
  .OptionContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80em;
    margin: 3em auto 1em auto;

    .Name {
      font-size: 3em;
    }

    .Text {
      font-size: 1.25em;
      margin-left: 1.5em;
      margin-right: 1.5em;
    }

    .Image {
      width: 40%;
      flex-shrink: 0;

      .ImageContent {
        padding-bottom: 50%;
      }
    }
  }
}

.NextStage {
  text-align: center;

  .PathLink {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    line-height: 1;
    background-color: #333;
    color: #eee;
    @include shadow();

    &:hover {
      background-color: #555;
      color: #eee;
    }
  }
}
