.Suboptions {
  cursor: auto;
  border-top: 1px solid #ccc;
  margin-top: 1em;

  .Suboption {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;

    .SuboptionWrap {
      width: 100%;
    }

    &:last-child {
      margin-bottom: -1px;
    }

    .Name {
      font-size: 1.5em;
      margin: 0.25em 0 0 0;
    }

    .Text {
      font-size: 0.825em;
    }

    .Image {
      .ImageContent {
        padding-bottom: 50%;
      }
    }

    .OptionStats {
      margin-top: 0.5em;
    }
  }
}

// selectable suboptions
.Suboption.OptionControl-checkbox,
.Suboption.OptionControl-spinbox,
.Suboption.OptionControl-select {
  background-color: $colorDeselected;
  transition: 0.3s;

  .SuboptionWrap {
    transition: 0.3s;

    > .Image {
      filter: grayscale(1);
      transition: 0.3s;
    }
  }

  &.OptionSelected {
    background-color: $colorSelected;
    opacity: 1;

    .SuboptionWrap {
      > .Image {
        filter: grayscale(0);
      }
    }
  }
}

// suboption controls
.Suboptions {
  .Suboption {
    .OptionControls {
      padding-top: 0.5em;
      width: 100%;

      .Checkbox,
      .Spinbox,
      .SelectControls,
      .AddChild {
        top: 0;
      }

      .Checkbox {
        width: 2em;
        height: 2em;
      }

      .Spinbox {
        height: 1.5em;
        padding: 0 0.1em;

        input[type="number"] {
          font-size: 1.25em;
        }

        button {
          width: 1.3em;
          height: 1.3em;
        }
      }

      .SelectControls {
        height: 1.5em;
        padding: 0 0.1em;

        .SelectControlsCurrent {
          font-size: 1em;
        }

        button {
          width: 1.3em;
          height: 1.3em;
        }
      }

      .Delete {
        width: 2em;
        height: 2em;
      }

      .AddChild {
        height: 1.5em;
        font-size: 1em;
      }
    }

    &.OptionHasImage {
      .OptionControls {
        position: absolute;
        top: 0;
      }
    }
  }
}
