.SuboptionsContainer {
  cursor: auto;
  border-top: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .Suboption {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid $optionBorderColor;
    width: 100%;

    .SuboptionWrap {
      width: 100%;
      overflow: hidden;
    }

    .SuboptionContent {
      width: 100%;
    }

    &:last-child {
      border-bottom: none;
    }

    .Name {
      font-size: 1.5em;
    }

    .Text {
      font-size: 0.825em;
    }

    .OptionStats {
      margin-top: 0.5em;
      min-height: 0 !important;
    }

    // suboption controls
    .OptionControls {
      padding-top: 0.5em;
      width: 100%;

      .Checkbox,
      .Spinbox,
      .SelectControls,
      .AddChild {
        top: 0;
      }

      .Checkbox {
        width: 2em;
        height: 2em;
      }

      .Spinbox {
        height: 1.5em;
        padding: 0 0.1em;
        width: 7.5em;

        input[type="number"] {
          font-size: 1.25em;
        }

        button {
          width: 1.3em;
          height: 1.3em;
        }
      }

      .SelectControls {
        height: 1.5em;
        width: 4em;
        padding: 0 0.1em;

        .SelectControlsCurrent {
          font-size: 1em;
        }

        button {
          width: 1.3em;
          height: 1.3em;
        }
      }

      .Delete {
        width: 2em;
        height: 2em;
      }

      .AddChild {
        height: 1.5em;
        font-size: 1em;
      }
    }

    &.OptionHasImage {
      .OptionControls {
        position: absolute;
        top: 0;
      }
    }
  }
}

.Option.double .SuboptionsContainer .Suboption {
  width: 50%;

  &:nth-child(2n) {
    border-left: 1px solid $optionBorderColor;
  }
}

// selectable suboptions
.Suboption.OptionControl-checkbox,
.Suboption.OptionControl-spinbox,
.Suboption.OptionControl-select {
  background-color: $colorDeselected;
  transition: 0.3s;

  .SuboptionContent {
    transition: 0.3s;
  }

  &.OptionSelected {
    background-color: $colorSelected;
    opacity: 1;
  }

  &.OptionHasImage {
    .SuboptionContent {
      > .Image {
        overflow: hidden;

        .ImageContent {
          filter: blur(3px) grayscale(1);
          opacity: 0.75;
          transition: 0.3s;
        }
      }

      .OptionBox:before {
        box-shadow: 0 -9em 3em -3em $optionDeselectedBgColor inset;
      }
    }

    &.OptionSelected {
      .SuboptionContent {
        > .Image {
          .ImageContent {
            opacity: 1;
            filter: grayscale(0);
          }
        }

        .OptionBox:before {
          box-shadow: 0 -9em 3em -3em $optionBgColor inset;
        }
      }
    }
  }
}

// suboptions with images
.Suboption.OptionHasImage {
  > .OptionControls {
    z-index: 2;
  }

  .Image {
    margin-bottom: -6em;

    .ImageContent {
      box-sizing: content-box;
      height: 6em;
      padding-bottom: 100%;
    }
  }

  .OptionBox {
    border-top: 1px solid $optionBorderSecondaryColor;
  }

  > .SuboptionWrap > .SuboptionContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    z-index: 1;

    .Select {
      position: relative;
      background-color: #fff;
    }
  }
}
