$colorBg: #eee;
$colorText: #333;
$colorTitles: #555;

$optionBgColor: #fff;
$optionDeselectedBgColor: #eee;
$optionBorderColor: #ccc;
$optionBorderSecondaryColor: #ccc;
$optionDeselectedBorderColor: #aaa;

$optionTextColor: #333;
$optionTitleColor: #555;
$colorDeselected: #eee;
$colorSelected: #fff;
$colorDisabledOverlay: #eee;

$controlsColor: #3a3a3a;
$controlsText: #ffffff;
$controlsBorderColor: #0099ff;

@mixin shadow() {
  box-shadow: 2px 2px 4px 0 #0003;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  box-shadow: 0 0 20em 1em rgba(255, 255, 255, 1) inset;
  min-height: 100vh;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    stroke-dasharray: 251.3274;
    stroke-width: 20;
  }
  50% {
    stroke-dasharray: 41.8879;
    transform: rotate(0deg);
  }
  55% {
    stroke-dasharray: 41.8879;
    stroke-width: 20;
  }
  75% {
    stroke-width: 10;
  }
  100% {
    transform: rotate(360deg);
    stroke-dasharray: 251.3274;
    stroke-width: 20;
  }
}

body {
  background-color: $colorBg;
  background-image: url("/element/regal.png");
  margin: 0;
  font-family: "Lato", sans-serif;
  color: $colorText;
  overflow: hidden;

  .MainOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
    opacity: 1;
    transition: 0.3s;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
      width: 3em;
      height: 3em;

      circle {
        fill: none;
        stroke: #eee;
        stroke-width: 20;
        stroke-linecap: round;
        transform-origin: 50%;
        animation: loading 5s infinite;
      }
    }
  }

  &.unlocked {
    overflow: auto;

    .MainOverlay {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.main-column {
  width: 100%;
}

.title {
  font-size: 2em;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  color: $colorTitles;
}

.Text {
  margin: 0 1em 1em 1em;

  p {
    max-width: 40em;
    margin: 0.5em auto;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5;
  }
}

input {
  background: none;
  border: none;
  font: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  width: 100%;
  transition: 0.3s;

  &:hover {
    background-color: #fff;
  }

  &:focus {
    outline: none;
    background-color: #fff;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.PathLink {
  cursor: pointer;

  &:hover {
    color: #777;
  }
}

.Image {
  .ImageContent {
    background-position: center;
    background-size: cover;
    background-color: #555;
  }
}

button {
  font: inherit;
  display: block;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

svg {
  display: block;

  path {
    fill: none;
    stroke: #555;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

@import "_Nav";
@import "_Intro";
@import "_OptionWide";
@import "_Options";
@import "_OptionControls";
@import "_Suboptions";
@import "_Stats";
@import "_OptionFoot";
