* {
  box-sizing: border-box;
  // box-shadow: 0 0 0 1px #f334 inset;
}

body {
  background-color: #eee;
  margin: 0;
}

.main-column {
  width: 100%;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.Text {
  margin: 0 1em;

  p {
    max-width: 40em;
    margin: 0.5em auto;
    text-indent: 2em;
    line-height: 1.5;
  }
}

input {
  background: none;
  border: none;
  font: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  width: 100%;

  &:hover {
    background-color: #fff;
  }
}

.PathLink {
  cursor: pointer;

  &:hover {
    color: #777;
  }
}

.Image {
  &.ImageFloating {
    width: 33.3333%;
    flex-shrink: 0;
  }

  .ImageContent {
    padding-bottom: 150%;
    background-position: center;
    background-size: cover;
  }
}

@import "_Nav";
@import "_Intro";
@import "_OptionWide";
@import "_Options";
@import "_OptionControls";
@import "_Suboptions";
@import "_CurrencyStats";
