$color-bg: #ccc;
$color-bg-2: #f2f2f2;
$color-bg-3: #ddd;
$color-bg-disabled: #ccc;
$color-main: #333;
$color-main-2: #777;
$color-main-disabled: #777;
$color-accent: #555;
$color-positive: #280;
$color-negative: #a00;
$color-negative-2: #f55;
$color-warning: #c70;
$radius: 0;

* {
  box-sizing: border-box;
}

body {
  background-color: $color-bg;
  font-family: sans-serif;
  font-size: 16px;
  color: $color-main;
  line-height: 1.6;
  margin: 0;
}

.App {
  max-width: 80em;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 21;
  top: 0;
  right: 0;
  left: 0;
  max-width: 80em;
  margin: 0 auto;
  pointer-events: none;
}

main {
  margin-top: 5em;
}

.Breadcrumbs {
  background-color: $color-bg;
  border-bottom: 1px solid $color-accent;
  pointer-events: auto;
}

.Stats {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;

  .Stats-list {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .currencyFromOption {
      background-color: $color-bg-3;
    }
  }
}

.Errors {
  pointer-events: auto;

  .Errors-container {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    background-color: $color-bg-2;
  }
}

.Errors-button {
  background-color: $color-bg-2;
  padding: 0.25em 0.5em;
  cursor: pointer;
  font-weight: 700;
  pointer-events: auto;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-negative;
    color: $color-bg-2;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    transition: background 0.2s;
  }

  &:hover {
    span {
      background-color: $color-negative-2;
    }
  }
}

.CurrencyStats {
  display: flex;
  justify-content: flex-end;
  pointer-events: auto;

  .currency {
    background-color: $color-bg-2;
    padding: 0.25em 1em;
  }
}

.PathLink {
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: $color-main-2;
  }
}

.error {
  font-size: 0.75em;
  font-weight: 700;
  color: $color-negative;
  padding: 0.5em 1em;

  &:before {
    content: "!";
    display: inline-flex;
    background-color: $color-negative;
    color: $color-bg-2;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
  }
}

.warning {
  color: $color-warning;
  font-weight: 700;
  font-size: 0.75em;
}

svg {
  display: block;

  * {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

button {
  border: none;
  background: none;
  background-color: $color-main;
  color: $color-bg;
  cursor: pointer;
  margin: 0 0.5em;
  transition: 0.3s;
  font-size: 1em;

  &:hover {
    background-color: $color-main-2;
    color: $color-bg-2;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $color-main-disabled;
    color: $color-bg-disabled;
    pointer-events: none;
  }
}

.text {
  max-width: 40em;
  margin: 0 auto;

  p {
    margin: 0;
    text-indent: 2em;
    padding: 0.25em 0;
    text-align: justify;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
  }
}

.SpinBox {
  width: 7em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25em;

  .SpinBox-value {
    font-weight: 700;
    font-size: 1.5em;
    margin: 0 0.25em;
  }

  .SpinBox-button {
    width: 0.75em;
    height: 0.75em;
    font-weight: 700;
    font-size: 2em;
    line-height: 0.75;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    svg {
      width: 75%;
      height: 75%;

      path {
        stroke-width: 25;
        stroke: $color-bg;
      }
    }
  }
}

.CreateChild {
  .CreateChild-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8em;
    transition: 0.2s;
    padding: 0;

    .CreateChild-button-text {
      color: $color-main;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.75em;
      font-weight: 700;
      padding: 0 1em 0 1.5em;
      transition: 0.2s;
    }

    svg {
      flex-shrink: 0;
      padding-right: 0.5em;
      height: 75%;

      path {
        stroke-width: 25;
        stroke: $color-main;
        transition: 0.2s;
      }
    }

    &:hover {
      background-color: $color-main;

      .CreateChild-button-text {
        color: $color-bg;
      }

      svg path {
        stroke: $color-bg;
      }
    }
  }
}

.currency {
  display: flex;
  align-items: center;
  line-height: 1;

  .currency-name {
    margin-right: 0.5em;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
  }

  .currency-value {
    font-weight: 700;
    background-color: $color-main;
    color: $color-bg-2;
    padding: 0.25em 0.5em 0.25em 0.6em;
    border-radius: 1em;
    letter-spacing: 0.1em;
  }

  &.Option-cost {
    color: $color-negative;
    padding: 0.25em 0;

    .currency-value {
      background-color: $color-negative;
    }

    &.positive {
      color: $color-positive;

      .currency-value {
        background-color: $color-positive;
      }
    }
  }
}

.OptionsContainer {
  display: flex;
  flex-wrap: wrap;

  &.MainContainer {
    margin-top: 3em;

    > .Option,
    > .Story {
      margin-bottom: 3em;
    }
  }
}

.Story {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;

  .Story-title {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 0.5em;
    color: $color-accent;
    text-align: center;
  }
}

.Option {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 0.5em;

  &.lastLevel:not(.MainContainer) {
    width: auto;
    width: 33.3333%;

    .Option-content {
      margin-right: 0.5em;
      margin-left: 0.5em;
      height: 100%;

      .Option-image {
        padding-bottom: 100%;
      }
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.selectable:not(.selected) {
    .Option-content {
      &:after {
        background-color: #3333;
      }
    }

    .Option-image {
      opacity: 0.25 !important;
    }
  }

  &.selected {
    > .Option-content {
      box-shadow: 0 0 0 2px $color-accent;
      background-color: $color-bg-3;
    }
  }

  &.hasCheckbox {
    .Option-content {
      cursor: pointer;
    }

    &.focused {
      > .Option-content > .Checkbox {
        background-color: $color-main;
        color: $color-bg;
      }
    }

    .Checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
      width: 2em;

      label {
        cursor: inherit;
      }

      input {
        display: none;
      }

      .option-checkbox-tick {
        opacity: 0;
        font-size: 1.5em;
        font-weight: 700;
        transition: opacity 0.2s;
      }

      input:checked + .option-checkbox-tick {
        opacity: 1;
      }
    }
  }

  .Option-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 0 1px $color-accent;
    border-radius: $radius;
    background-color: $color-bg;
    padding: 1em 1em 0.5em 1em;
    transition: background 0.2s, box-shadow 0.2s;
    margin: 0 0.5em;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      pointer-events: none;
      transition: 0.3s;
      border-radius: $radius;
    }

    .Option-head {
      position: relative;
      margin: -1em -1em 0 -1em;

      .CurrencyStats .currency {
        border-radius: 0 $radius 0 0;
      }

      .Option-image {
        padding-bottom: 25%;
        background-position: center;
        background-size: cover;
        border-radius: $radius $radius 0 0;
        box-shadow: 0 0 10em 0 rgba(114, 96, 56, 0.6) inset;
        opacity: 1;
        transition: opacity 0.3s;
        border-bottom: 1px solid $color-accent;

        + .Option-stats .OptionCosts {
          position: absolute;
          left: 0;
          bottom: 1px;
          border-radius: $radius 0 0 0;
        }
      }

      .OptionCosts {
        background-color: $color-bg-2;
        padding: 0.25em 0.5em;
        margin-left: auto;
        border-radius: $radius $radius 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .Option-name {
      font-size: 1.25em;
      font-weight: 700;
      width: 100%;
      padding: 0.5em 0;
      color: $color-accent;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .2em;
      padding-left: .2em;

      input {
        background: none;
        border: none;
        font: inherit;
        color: inherit;
        text-align: inherit;
        text-transform: inherit;
        letter-spacing: inherit;
        width: 100%;
        transition: 0.2s;

        &:focus,
        &:hover {
          outline: none;
          background-color: $color-bg-2;
        }
      }
    }

    .Option-foot {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: auto;

      .Option-open {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        flex-shrink: 0;

        svg {
          width: 100%;
          height: 100%;

          circle {
            fill: $color-bg;
            stroke-width: 0;
          }
        }
      }

      .Option-link {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        flex-shrink: 0;

        svg {
          width: 80%;
          height: 80%;
          margin: 10%;

          path {
            stroke: $color-bg;
            stroke-width: 20;
          }
        }
      }
    }

    .RemoveChild button {
      position: absolute;
      top: -1em;
      right: -1em;
      background-color: $color-negative;
      width: 2em;
      height: 2em;
      margin: 0;
      border-radius: 50%;
      transition: 0.2s;

      svg {
        width: 80%;
        height: 80%;
        margin: 10%;

        path {
          stroke: $color-bg;
          stroke-width: 30;
        }
      }

      &:hover {
        background-color: $color-negative-2;
      }
    }
  }
}

.Checkbox,
.CreateChild-button,
.SpinBox {
  position: absolute;
  top: -1em;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1em;
  height: 2em;
  max-width: 80%;
  background-color: $color-bg-2;
  box-shadow: 0 0 0 2px $color-accent;
  z-index: 3;
}
