// $color-bg: #fff;
// $color-bg-2: #eee;
// $color-bg-disabled: #aaa;
// $color-main: #000;
// $color-main-2: #333;
// $color-main-disabled: #555;
// $color-accent: #933;
// $color-accent-2: #f55;
// $color-positive: #282;
// $color-negative: #f55;

$color-bg: #171b12;
$color-bg-2: #232c19;
$color-bg-disabled: #777a72;
$color-main: #b9d695;
$color-main-2: #dcf1c2;
$color-main-disabled: #9fa599;
$color-accent: #a5131d;
$color-accent-2: #da0f1c;
$color-positive: #282;
$color-negative: #f55;

body {
  background-color: $color-bg;
  font-family: sans-serif;
  font-size: 12px;
  color: $color-main;
}

.OptionsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: .5em;

  .Option {
    background-color: $color-bg;
    border: 1px solid $color-accent;
    padding: .5em;
    margin: .25em .5em;
    transition: .3s;
    box-shadow: .25em .25em 0 0 $color-accent;

    &.disabled {
      opacity: 0.5;
    }

    &:hover {
      background-color: $color-bg-2;
    }

    .Option-name {
      font-weight: 700;
      margin-bottom: 1em;
      color: $color-accent-2;
    }
  }

  .Story {
    width: 100%;
    margin: 2em .5em .25em .5em;

    .Story-column {
      max-width: 40em;
      margin: 0 auto;
      padding: .5em 1em;
      border: 1px solid $color-accent;
      box-shadow: .25em .25em 0 0 $color-accent;
    }

    .Story-title {
      font-weight: 700;
      font-size: 2em;
      margin-bottom: 1em;
      color: $color-accent-2;
    }

    p {
      margin: 0;
      text-indent: 2em;
    }
  }
}

.SpinBox {
  display: flex;
  align-items: center;
}

.currency {
  display: flex;
  align-items: center;

  .currency-name {
    margin-right: .5em;
    font-size: .75em;
  }

  .currency-value {
    font-weight: 700;
  }

  &.Option-cost {
    color: $color-negative;

    &.positive {
      color: $color-positive;
    }
  }
}

.Option-stats {
  display: flex;

  .OptionCosts {
    margin-left: auto;
  }
}

button {
  border: none;
  background: none;
  background-color: $color-main;
  color: $color-bg;
  cursor: pointer;
  margin: 0 .5em;
  box-shadow: .15em .15em 0 0 $color-accent;
  transition: .3s;

  &:hover {
    background-color: $color-main-2;
    color: $color-bg-2;
    box-shadow: .25em .25em 0 0 $color-accent;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $color-main-disabled;
    color: $color-bg-disabled;
    pointer-events: none;
  }
}